/* Total */
@font-face {
  font-family: "Mulish";
  src: url("../fonts/Mulish-SemiBold.woff2") format("woff2"),
    url("../fonts/Mulish-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mulish";
  src: url("../fonts/Mulish-Bold.woff2") format("woff2"),
    url("../fonts/Mulish-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mulish";
  src: url("../fonts/Mulish-Light.woff2") format("woff2"),
    url("../fonts/Mulish-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mulish";
  src: url("../fonts/Mulish-Regular.woff2") format("woff2"),
    url("../fonts/Mulish-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding-left: 80px;
  padding-right: 80px;
}
.btn {
  margin-top: 40px;
  text-align: center;
}
.total_section .container {
  display: flex;
  justify-content: space-between;
  margin-top: 150px;
}
.total_wrap {
  width: 445px;
  height: 338px;

  padding-bottom: 100px;
}
.total_title {
  font-weight: 700;
  font-family: "Mulish", sans-serif;
  font-size: 48px;
  line-height: 56px;
}
.total_describe {
  font-size: 21px;
  font-weight: 300;
  font-family: "Mulish", sans-serif;
  line-height: 32px;
  color: #7d7987;
}
.total_img {
  width: 593px;
  height: 498px;
}
.total_header__title {
  font-weight: 700;
  font-family: "Mulish", sans-serif;
  font-size: 36px;
  line-height: 56px;
}
.total_short__line {
  width: 56px;
  margin-top: 0;
  margin-bottom: 0;
  height: 2px;
  background-color: black;
}

/* /Total */

/*  Header_setion  */
.site_header .container {
  display: flex;
  justify-content: space-between;
}

.logo_img {
  width: 160px;
  height: 41px;
}
.site_list {
  padding: 0;
  display: flex;
  width: 565px;

  justify-content: space-evenly;
}
.site_item {
  list-style: none;
}
.site_link {
  font-size: 18px;

  line-height: 22px;
  color: #1f1534;
  opacity: 0.5;
  font-weight: 700;
  font-family: "Mulish", sans-serif;
  font-weight: 400;
}
.home_link {
  font-style: normal;
  font-size: 18px;
  line-height: 22px;
  opacity: 1;
  font-weight: 700;
  font-family: "Mulish", sans-serif;
}
/*  /Header_section  */

/* Hero section */

/* Service_section */
.service {
  height: 1133px;
  margin-top: 113px;
}
.service_header {
  text-align: center;
}

.service_description {
  margin-left: auto;
  margin-right: auto;
  width: 852px;
  height: 60px;

  size: 18px;
  line-height: 30px;
  color: #7d7987;

  font-family: "Mulish", sans-serif;
  font-weight: 300;
}
a {
  text-decoration: none;
}
.service_table {
  display: flex;
  height: 745px;
  margin-top: 80px;
}
.service_list {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.service_wrap {
  width: 350px;
  height: 354px;
  background-color: white;
  background: #ffffff;
  box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
  border-radius: 20px;
}
.service_wrap__img {
  margin-left: 37px;
  margin-top: 54px;
  width: 92px;
  height: 90px;
}
.service_wrap__title {
  width: 200px;
  height: 56px;
  margin-top: 22px;
  margin-bottom: 1px;
  margin-left: 39px;

  font-size: 24px;
  line-height: 56px;
  color: black;
  font-family: "Mulish", sans-serif;
  font-weight: 700;
}
.service_wrap__description {
  margin-left: 39px;
  width: 266px;
  font-style: normal;

  font-size: 17px;
  line-height: 28px;
  font-family: "Mulish", sans-serif;
  font-weight: 300;
  color: #7d7987;
  margin-bottom: 40px;
  margin-top: 1px;
}
.service_item {
  display: inline-block;
  margin-right: 34px;
  margin-bottom: 37px;
}
.banka {
  width: 61px;
  font-size: 20px;
}
.portfel {
  width: 80px;
  padding-bottom: 20px;
}
.tag {
  margin-bottom: 30px;
}
/* /Service_section */

/* Provider_section */
.provider {
  margin-left: 0;
}
.provider_img {
  margin-left: 20px;
}
.provider_wrap {
  margin-left: 100px;
}
/* Provider_section */

/* Customer_section */
.customer {
  margin-top: 266px;
  height: 420px;
}
.customer_header {
  text-align: center;
  margin-bottom: 50px;
}
.customer_card {
  height: 420px;
  text-align: center;
  color: white;
  border-radius: 20px;
  padding-top: 64px;
  padding-bottom: 89px;

  background: linear-gradient(208.18deg, #67c3f3 9.05%, #5a98f2 76.74%);
}
.customer_title {
  margin-top: 0;
  margin-bottom: 25px;
}
.customer_info {
  display: flex;
  justify-content: space-evenly;
}
.customer_profile {
  display: flex;
  justify-content: space-around;
  width: 400px;
}
.customer_descripe {
  width: 420px;
  height: 120px;
  font-size: 19px;
  line-height: 30px;

  display: inline-block;
  vertical-align: middle;
  text-align: left;
  font-family: "Mulish", sans-serif;
  font-weight: 400;
}
.customer_img {
  width: 138px;
  height: 138px;
  border-radius: 50%;
  border: 3px solid white;
}
.customer_profile__info {
  width: 184px;
  height: 138px;
}
.c_profile_title {
  width: 184px;
  height: 48px;
  font-size: 22px;

  line-height: 48px;
  margin-top: 21px;
  margin-bottom: 0;
  font-weight: 300;
  font-family: "Mulish", sans-serif;
  font-weight: 700;
}
.c_profile_descripe {
  width: 119px;
  height: 48px;
  font-size: 17px;

  line-height: 48px;
  margin-top: 0;
  margin-bottom: 21px;
  font-family: "Mulish", sans-serif;
  font-weight: 700;
}
.strelka {
  height: 20px;
  text-align: center;
  margin-top: 43px;
}
.strelka_img {
  width: 336px;
  height: 20px;
}
/* /Customer_section */

/* Article_section */
.article {
  height: 800px;
}
.article_table {
  height: 512px;
}
.article_wrap {
  height: 512px;
}
.article_img {
  margin-top: 0;
  margin-left: 0;
  width: 350px;
  height: 246px;
}
.readmore {
  margin-left: 39px;
  font-size: 17px;

  line-height: 28px;
  color: #4089ed;
  font-family: "Mulish", sans-serif;
  font-weight: 600;
}
.vector {
  margin-left: 10px;
}
/* /Article_section */

/* Footer_section */
.footer_section {
  height: 432px;
  margin-top: 200px;

  color: white;
  padding-top: 118px;
  background: linear-gradient(183.41deg, #67c3f3 -8.57%, #5a98f2 82.96%);
}
.footer_section .container {
  display: flex;
  justify-content: space-between;
}

.about {
  width: 300px;
  height: 201px;
  text-align: left;
}
.about_descripe {
  width: 391px;
  height: 84px;
  margin-top: 17px;
  margin-bottom: 0;

  font-size: 18px;
  line-height: 28px;
  font-family: "Mulish", sans-serif;
  font-weight: 300;
}
.copyright {
  width: 391px;
  height: 28px;
  margin-top: 31px;
  margin-bottom: 0;

  font-size: 16px;
  line-height: 28px;
  font-family: "Mulish", sans-serif;
  font-weight: 300;
}
.catigorie {
  width: 500px;
  height: 200px;
  text-align: left;
  display: flex;
  justify-content: space-between;
}
.catigories {
  display: inline-block;
  text-align: left;
}
.catigories_title {
  margin-top: 0;
  margin-bottom: 0;
  width: 92px;
  height: 60px;
  font-size: 20px;

  line-height: 60px;
  font-family: "Mulish", sans-serif;
  font-weight: 700;
}
.catigories_list {
  padding: 0;
  margin: 0;
}
.catigories_item {
  list-style: none;
}
.catigories_link {
  color: white;
  font-size: 18px;

  line-height: 38px;
  font-family: "Mulish", sans-serif;
  font-weight: 300;
}
/* /Footer_section */
